html,
body {
  height: 100%;
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  font-weight: 400;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}
